NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
ANTHROPIC_API_KEY=sk-ant-your-anthropic-api-key

NEXT_PUBLIC_APP_URL=http://localhost:3000
